@use '../../styles/partials/index' as *;
.main-video {
  background-color: $background-secondary;
  display: flex;
  justify-content: center;
  line-height: 0;

  &__wrapper {
    aspect-ratio: 16 / 9;
    max-width: 60rem;
  }

  &__player {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
