@use '../../styles/partials/index' as *;
.main-video {
  background-color: $background-secondary;
  display: flex;
  justify-content: center;

  &__content {
    position: relative;
    max-width: 64.5rem;
    line-height: 0;
  }

  &__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
