@use '../../styles/partials/index' as *;
.main-video {
  position: relative;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: $background-secondary;

  &__player {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  @include tablet {
    max-height: 75vh;
  }

  //This is for adding the dark background in Chrome
  &::before {
    content: '';
    background: $background-secondary;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 200vw;
    left: -100%;
  }
}
