@use '../../styles/partials/index' as *;

.error {
  padding: 0 2rem;
  min-height: 65vh;
  @include d-flex-column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  @include tablet {
    flex-direction: row;
  }

  &__img {
    max-height: 12rem;
    @include tablet {
      max-height: 15rem;
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  &__code {
    display: block;
    font-weight: 700;
    color: lightcoral;

    font-size: 2rem;
    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__message {
    color: $text-primary;
    @include d-flex-column;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    font-size: 1rem;
    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__redirect {
    background-color: $color-brand-primary;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    padding: 0.8rem 1rem;
    @include tablet {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: $color-brand-primary;
      transform: translateY(-0.25rem);
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}
