@use './abstracts' as *;
@use './mixins' as *;

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
    url('../../assets/fonts/Alternative\ files/AvenirNextLTProDemi.ttf')
      format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
    url('../../assets/fonts/Alternative\ files/AvenirNextLTPro.ttf')
      format('truetype');
  font-weight: 700;
}

//Typography
.heading-primary {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

.heading-secondary {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.heading-tertiary {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.body-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.label-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
