//Breakpoints
$breakpoints: (
  // 768px
  'tablet': 48em,
  // 1280px
  'desktop': 80em
);

//Breakpoint mixins
@mixin tablet {
  @media (min-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}

//Mixins
@mixin d-flex {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-column {
  display: flex;
  flex-direction: column;
}

@mixin justify-align-center {
  justify-content: center;
  align-items: center;
}
