@use '../../styles/partials/index' as *;

.upload {
  @extend .container;
  &__heading {
    @extend .heading-primary;
    padding: 1rem 0;
    @include tablet {
      margin-top: 0.5rem;
      padding: 1.5rem 0;
      border-bottom: 1px solid $dim-brand-primary;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      padding: 1rem 0;
    }

    @include desktop {
      flex-direction: row;
      padding: 1.5rem 0;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &--thumbnail {
      cursor: pointer;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        flex-basis: 30%;
      }
    }
    &--description {
      flex: 1;
    }
  }
  &__label {
    @extend .heading-secondary;
    font-weight: 600;
    font-size: 0.75rem;
    white-space: nowrap;
    text-transform: uppercase;
    color: $text-secondary;

    &--thumbnail {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }
  &__input {
    border: none;
    background-color: $dim-brand-secondary;
    border-radius: 0.3125rem;
    font-family: inherit;
    font-size: inherit;
    padding: 0.75rem 1rem;
    outline: 1px solid $dim-brand-primary;
    color: rgba(0, 0, 0, 0.6);

    &--preview {
      aspect-ratio: 16/9;
      cursor: pointer;
      width: 100%;
      font-size: 2rem;
      object-fit: cover;
      border-radius: 0.3125rem;

      font-family: -apple-system, BlinkMacSystemFont;
      background-color: grey;
      color: white;

      // display: flex;
      // align-items: center;
      // justify-content: center;
    }

    &--thumbnail {
      display: none;
    }

    &--description {
      flex: 1;
      resize: none;
    }

    &:focus {
      outline: 1px solid $color-brand-primary;
    }
    &--error {
      outline: 1px solid #d22d2d;
    }
  }
  &__btns {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
    @include tablet {
      gap: 3rem;
      justify-content: flex-end;
      flex-direction: row;
      border-top: 1px solid $dim-brand-primary;
      margin-top: 1rem;
    }
    @include desktop {
      gap: 5rem;
    }
  }
  &__cancel {
    order: 2;
    color: $color-brand-primary;
    align-self: center;
    text-decoration: none;
    font-weight: 600;
    @include tablet {
      order: initial;
    }
  }
}
