@use '../../styles/partials/index' as *;

.comment {
  @include d-flex;
  align-items: flex-start;
  border-top: 1px solid $dim-brand-primary;
  padding: 1.5rem 0;

  gap: 1rem;
  @include tablet {
    gap: 1.5rem;
  }

  &:last-of-type {
    border-bottom: 1px solid $dim-brand-primary;
    @include tablet {
      border-bottom: none;
    }
  }

  &__text-box {
    flex: 1;
    @include d-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    @include tablet {
      padding-right: 1.5rem;
    }
  }

  &__author {
    flex: 1;
    font-weight: 600;
  }

  &__date {
    color: $text-secondary;
  }

  &__text {
    flex-basis: 100%;
  }
}
