@use '../../styles/partials/index' as *;

.header {
  border-bottom: 1px solid $dim-brand-primary;
}

.nav {
  @extend .container;
  @include d-flex-column;
  align-items: stretch;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__link {
    align-self: center;
  }

  &__logo {
    height: 1.5625rem;
    width: 7.5rem;
  }

  &__upload-btn {
    flex-basis: 100%;
    order: 1;
    @include tablet {
      flex: none;
    }
  }

  &__avatar {
    @include tablet {
      order: 2;
    }
  }

  &__right {
    @include d-flex;
    @include justify-align-center;
    flex-wrap: wrap;
    gap: 1rem;
    @include tablet {
      gap: 1.5rem;
    }
  }
}

.search {
  flex: 1;
  @include d-flex;
  // @include justify-align-center;
  align-items: center;
  min-width: 15rem;
  border-radius: 0.3rem;
  border: 1px solid $dim-brand-primary;
  background: $dim-brand-secondary;
  font-size: 0.75rem;
  overflow: hidden;

  &__input {
    flex: 1;
    height: 2.25rem;
    padding: 0.75rem;
    @include tablet {
      height: 2.5rem;
      padding: 1rem;
    }

    // flex: 1;
    font-size: inherit;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    background: inherit;

    &--error {
      border: 1px solid #d22d2d;
    }

    &--success {
      border: 1px solid $color-brand-primary;
    }
  }

  &__submit {
    cursor: pointer;
    height: 1em;
    width: 1em;
    background: url('../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin-left: 1rem;
  }
}
