@use '../../styles/partials/index' as *;
.comments {
  @include d-flex-column;
  gap: 0.5rem;
  &__number {
    @extend .heading-secondary;
  }
  &__container {
    @include d-flex;
    @include justify-align-center;
    gap: 1rem;
    padding: 1rem 0;
    @include tablet {
      gap: 1.5rem;
      align-items: flex-end;
    }
    @include desktop {
      padding: 0rem 1.5rem 1rem 0;
    }
  }
  &__avatar {
    transform: translateY(-1.6rem);
    @include tablet {
      transform: none;
    }
  }
  &__no-comment {
    text-align: center;
    border-bottom: 1px solid $dim-brand-primary;
    padding-bottom: 1rem;
    @include desktop {
      border-bottom: none;
    }
  }
}
