@use '../../styles/partials/index' as *;

.nav {
  @extend .container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__logo {
    height: 1.5625rem;
    width: 7.5rem;
  }

  &__btn {
    flex-basis: 100%;
    order: 1;
    @include tablet {
      flex: none;
    }
  }

  &__avatar {
    @include tablet {
      order: 2;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  @include tablet {
    gap: 1.5rem;
  }

  &__form {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 15rem;
    border-radius: 0.3rem;
    border: 1px solid $dim-brand-primary;
    background: $dim-brand-secondary;
    font-size: 0.75rem;
  }

  &__input {
    height: 2.25rem;
    padding: 0.75rem;
    @include tablet {
      height: 2.5rem;
      padding: 1rem;
    }

    flex: 1;
    font-size: inherit;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    background: inherit;

    &--error {
      border: 1px solid #d22d2d;
    }

    &--success {
      border: 1px solid $color-brand-primary;
    }
  }

  &__submit {
    cursor: pointer;
    height: 1em;
    width: 1em;
    background: url('../../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin-left: 1rem;
  }
}
