@use '../../styles/partials/index' as *;

.video {
  cursor: pointer;
  display: flex;
  align-items: stretch;
  gap: 1rem;

  &__thumbnail {
    max-width: 10rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.3125rem;
  }
  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    @extend .heading-tertiary;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include tablet {
      overflow: none;
      text-overflow: initial;
      white-space: normal;
    }
  }

  // &__author {
  //   // overflow: hidden;
  //   // text-overflow: ellipsis;
  // }
}
