@use '../../styles/partials/index' as *;

.video {
  cursor: pointer;
  @include d-flex;
  gap: 1rem;

  &__thumbnail {
    max-width: 8.5rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.3125rem;
  }
  &__text-box {
    @include d-flex-column;
    justify-content: space-evenly;
  }

  &__title {
    @extend .heading-tertiary;
    max-width: 11rem;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
