@use '../../styles/partials/index' as *;

.link-btn {
  position: relative;
  cursor: pointer;
  min-width: 9.375rem;
  height: 2.5rem;
  text-decoration: none;
  border-radius: 0.3rem;
  @extend .label-text;
  text-transform: uppercase;

  @include d-flex;
  @include justify-align-center;

  color: $background-primary;
  background: $color-brand-primary;
  transition: background 0.1s;

  &__img {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    object-fit: cover;
  }

  &:hover {
    background-color: $color-brand-primary-dark;
  }
}
