@use '../../styles/partials/index' as *;

.sidebar {
  flex: 1;
  border-left: none;
  padding-bottom: 2rem;
  @include tablet {
    border-left: 1px solid $dim-brand-primary;
    padding: 0 0 2rem 2rem;
  }

  &__heading {
    @extend .heading-tertiary;
    margin: 1.5rem 0;
    text-transform: uppercase;
    color: $text-secondary;
    font-weight: 600;
  }

  &__video-list {
    @include d-flex-column;
    list-style: none;
    gap: 1rem;
  }
}
