@use '../../styles/partials/index' as *;
.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__number {
    @extend .heading-secondary;
    margin-bottom: 0.5rem;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    @include tablet {
      align-items: flex-end;
      gap: 1.5rem;
      padding-right: 1.5rem;
      align-items: stretch;
    }
  }

  &__avatar {
    margin-top: 1.5rem;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    @extend .heading-tertiary;
    text-transform: uppercase;
    color: $text-secondary;
    font-weight: 400;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid $dim-brand-primary;
    height: 4rem;
    @include tablet {
      flex-basis: 1;
      height: 3rem;
    }
  }

  &__btn {
    align-self: flex-end;
    flex-basis: 100%;
    @include tablet {
      flex-basis: auto;
    }
  }

  &__list {
    list-style: none;
  }
}
